<section class="section section--stone" aria-labelledby="testimonials-heading">
  <div class="wrap">
    <div class="section-head">
      <h2 id="testimonials-heading">What our landlords say</h2>
    </div>
    <div class="testimonial-grid">
      <blockquote class="testimonial"><p>Five Towns are currently managing my new purchases and I've been very happy with them. Always received my rent on time, have been notified of all my repairs, and property inspections done regularly with an update, what more can a landlord ask for. If you're looking for an actual qualified agent who knows what they are doing then Five Towns is the one for you.</p><cite>Mr M Ahmed, landlord</cite></blockquote>
      <blockquote class="testimonial"><p>Five Towns Letting managed to find a tenant for us so quickly there was no need to put up a "To Let" board at the property and the tenants given were excellent, we'll definitely be returning. We are both very grateful.</p><cite>Dr Chauhan, landlord</cite></blockquote>
      <blockquote class="testimonial"><p>My first visit to Five Towns Lettings was extremely helpful and reassuring, and within three months I received a moderate amount of the arrears, got the tenants evicted, and with the help of the Five Towns team got my property back up to scratch and re-let in less than two weeks.</p><cite>Ms S Hocking, landlord</cite></blockquote>
      <blockquote class="testimonial"><p>Very impressed with the level of service. I have used Five Towns before and will continue to do so in the future.</p><cite>Miss K Palmer, landlord</cite></blockquote>
    </div>
    <p class="testimonial-more"><a class="btn-text" href="{{ site.data.company.google_profile }}" target="_blank" rel="noopener">Read our reviews on Google</a></p>
  </div>
</section>
